sudo: false
language: node_js
node_js:
  - "8"

script:
  - npm run lint
  - npm run test

cache:
  directories:
    - node_modules

before_deploy:
  - git config --local user.name "ztoben"
  - git config --local user.email "zach.toben@gmail.com"
deploy:
  provider: releases
  api_key: $GH_TOKEN
  skip_cleanup: true
  on:
    branch: master
    tags: true
